
@{
    ViewBag.Title = "Customer Details";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick='AddNewCustomer(0)'>Add New Customer</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>
            </tr>
        </thead>
        <tbody id="SetCustomerList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>

    </table>
</div>
<script>
    function AddNewCustomer(CustomerId) {

        if (CustomerId == 0) {
            $("#ModalTitle").html("Add new Customer");
            $("#customerId").val(0);
            $("#customerName").val("");
            $("#customerAddress").val("");
            $("#newCustomerModal").modal();
        }


    }
    function DeleteCustomer(CustomerId) {

        $("#delCustomerId").val(CustomerId);
        $("#deleteModal").modal();



    } 
    function EditCustomer(CustomerId) {
         //This method is used to display the modal to edit the Customers
        var url = "/Customer/GetCustomerById?CustomerId=" + CustomerId;
        $("#ModalTitle").html("Update Customer");
        $("#newCustomerModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                   
                    var obj = JSON.parse(data);
                    $("#customerId").val(obj.Id);
                    $("#customerName").val(obj.Name);
                    $("#customerAddress").val(obj.Address);
               

            },
            failure: function (data) {
                alert("Please try again");
                window.location.href = "/Customer/CustomerIndex";
            }
        })
    }
</script>
<script>

  

    $.get("/Customer/GetCustomerList", null, DataBind);
    function DataBind(CustomerList) {
        //This method is used to display the Customers

        var Data;
        for (var i = 0; i < CustomerList.length; i++) {

            debugger;
            Data += "<tr class='row_'>" +
                "<td>" + CustomerList[i].Name + "</td>" +
                "<td>" + CustomerList[i].Address + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='' ><span class='glyphicon glyphicon-edit' onclick='EditCustomer(" + CustomerList[i].Id + ")'></span></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' ><span class='glyphicon glyphicon-trash' onclick='DeleteCustomer(" + CustomerList[i].Id + ")'></span></a>" + "</td>" +
                "</tr>";


        }
        //console.log(Data);
        $("#SetCustomerList").html(Data);

    }
</script>

<div class="modal fade" id="newCustomerModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">

                <form id="myForm">
                    <fieldset id="SubmitForm">
                        <input type="hidden" id="customerId" class="form-control" />
                        <table class="table-condensed">

                            <tr>
                                <td><h5 >Customer Name</h5></td>
                                <td>
                            <div class="form-group">
                                
                                <input type="text" id="customerName" class="form-control" required>
                                
                            </div>
                                    </td>
                                </tr>
                            <tr>
                                <td><h5>Customer Address </h5></td>
                                <td>
                                <div class="form-group">
                                    <input type="text" id="customerAddress" class="form-control" required />

                                </div>
                                    </td>
                            </tr>
                        </table>
                    </fieldset>


                </form>

                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/InternetSlowdown_Day.gif" width="150" /> @* //put any image in content folder*@
                </div>


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit" />

            </div>

        </div>

    </div>

</div>
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="deleteModalTitle">Delete Customer</h4>

            </div>
            <div class="modal-body">

                <form id="deleteForm">
                    <fieldset id="deleteFormData">


                        <input type="hidden" id="delCustomerId" />
                     <h3>  Are you sure do you want to delete the Customer?</h3>

                    </fieldset>


                </form>

               


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input type="reset" value="Delete" class="btn btn-danger" id="btnDelete" />

            </div>

        </div>

    </div>

</div>

<script>

    $("#btnSubmit").click(function () {
        //This method is used to submit the modal data to the controller 
        //to save or create a new customer

        var id = $("#customerId").val();
        var name = $("#customerName").val();
        var address = $("#customerAddress").val();

            $.ajax({
            type: "POST",
            url: "/Customer/SaveCustomer?Id=" + id + "&Name=" + name + "&Address=" + address,

            success: function () {
               
                $("#newCustomerModal").modal("hide");
                alert("Customer Saved");
                window.location.href = "/Customer/CustomerIndex";

            },
            failure: function () {
                alert("Try again");
            }

        })
    })
    $("#btnDelete").click(function () {
        //This method is used to submit the modal data to the controller to delete a new product

        var id = $("#delCustomerId").val();
           $.ajax({
            type: "POST",
            url: "/Customer/DeleteCustomer?CustomerId=" + id,

            success: function () {
                alert("Customer Deleted");
                $("#loaderDiv").hide();
                $("#deleteModal").modal("hide");
                window.location.href = "/Customer/CustomerIndex";

            },
            failure: function () {
                alert("Try again");
            }

        })
    })
</script>

