@model OnboardingTask2.Models.ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
@*//<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

<div class="container" style="margin-top:3%">

    <a href="#" class="btn btn-info" onclick='AddNewProduct(0)'>Add New Product</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>
            </tr>
        </thead>
        <tbody id="SetProductList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>

    </table>

</div>

<script>
    function AddNewProduct(ProductId) {
         
        if (ProductId == 0) {
            $("#ModalTitle").html("Add new Product");
            $("#productId").val(0);
            $("#productName").val("");
            $("#productPrice").val("");
            $("#ProductModal").modal();
        }


    }
    function DeleteProduct(ProductId) {

        $("#delProductId").val(ProductId);
        $("#deleteModal").modal();



    }
    function EditProduct(ProductId) {
        //This method is used to display the modal to edit the products
        var url = "/Home/GetProductById?ProductId=" + ProductId;
        $("#ModalTitle").html("Update Product");
        $("#ProductModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#productId").val(obj.Id);
                $("#productName").val(obj.Name);
                $("#productPrice").val(obj.Price);

            }
        })
    }
</script>

<div class="modal fade" id="ProductModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">

                <form id="myForm">
                    <fieldset id="SubmitForm">
                        
                        <input type="hidden" id="productId" class="form-control" />
                        <table class="table-condensed">
                            <tr><td><h5>Product Name </h5> </td>
                                <td>
                                    <div class="form-group">

                                        <input type="text" id="productName" class="form-control" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Product Price </h5></td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" id="productPrice" class="form-control" required />

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>


                </form>

                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/InternetSlowdown_Day.gif" width="150" /> @* //put any image in content folder*@
                </div>


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit" />

            </div>

        </div>

    </div>

</div>
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="deleteModalTitle">Delete Product</h4>

            </div>
            <div class="modal-body">

                <form id="deleteForm">
                    <fieldset id="deleteFormData">


                        <input type="hidden" id="delProductId" />
                        <div class="modal-body"></div>   Are you sure do you want to delete the Product?

                    </fieldset>


                </form>

                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/InternetSlowdown_Day.gif" width="150" /> @* //put any image in content folder*@
                </div>


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input type="reset" value="Delete" class="btn btn-danger" id="btnDelete" />

            </div>

        </div>

    </div>

</div>
<script>

    //  $("#myForm").validate();
    // $("#LoadingStatus").html("Loading.....");

    $.get("/Home/GetProductList", null, DataBind);
    function DataBind(ProdList) {
        //This method is used to display the products

        var Data;
        for (var i = 0; i < ProdList.length; i++) {
            debugger;
            Data += "<tr class='row_'>" +
                "<td>" + ProdList[i].Name + "</td>" +
                "<td>" + ProdList[i].Price + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='' ><span class='glyphicon glyphicon-edit' onclick='EditProduct(" + ProdList[i].Id + ")'></span></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' ><span class='glyphicon glyphicon-trash' onclick='DeleteProduct(" + ProdList[i].Id + ")'></span></a>" + "</td>" +
                "</tr>";


        }
     
        $("#SetProductList").html(Data);

    }



    $("#btnSubmit").click(function () {
        //This method is used to submit the modal data to the controller to save or create a new product

        

        var id = $("#productId").val();
        var name = $("#productName").val();
        var price = $("#productPrice").val();

       
        $.ajax({
            type: "POST",
            url: "/Home/SaveProduct?Id=" + id + "&Name=" + name + "&Price=" + price,

            success: function () {
                alert("Product Saved");
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                window.location.href = "/Home/Product";

            },
            failure: function () {
                alert("Try again");
            }

        })
    })

    $("#btnDelete").click(function () {
        //This method is used to submit the modal data to the controller to delete a new product

        var id = $("#delProductId").val();
        alert(id);


        $.ajax({
            type: "POST",
            url: "/Home/DeleteProduct?productId=" + id,

            success: function () {
                alert("ProductDeleted");
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                window.location.href = "/Home/Product";

            },
            failure: function () {
                alert("Try again");
            }

        })
    })


</script>